@import 'normalize', 'mixins';

$textColor: #475055;
$bodyBgColor: #4a627e;
$elemsBgColor: #fff;
$elemsActiveBg: #56ccc8;
$iconColor: #b2b9bd;
$navbarHeight: 60px;

// GENERAL

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyBgColor;
}

p, li, h1, h2, h3, h4, h5, h6, span, a, input {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: $textColor;
    font-weight: 500;
}

h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

p {
    font-weight: 300;
}

// HEADER

.main-nav {
    background-color: $elemsBgColor;
    display: flex;
    height: $navbarHeight;
    max-width: 1200px;
    margin: 120px auto 20px auto;

    &__toggle {
        min-width: $navbarHeight;
        background-color: $elemsActiveBg;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__toggle-icon, &__toggle-icon:before, &__toggle-icon:after {
        display: block;
        background-color: $elemsBgColor;
        width: ($navbarHeight / 3 * 2);
        height: 4px;
        border-radius: 5px;
        transition: 0.3s;
    }

    &__toggle-icon {

        &::before {
            content: "";
            margin-top: -9px;
        }

        &::after {
            content: "";
            margin-top: 14px;
        }
    }

    &__toggle.active &__toggle-icon {
        transform: rotate(90deg);
        width: ($navbarHeight / 2);

        &::before, &::after {
            width: ($navbarHeight / 2);
        }

    }

    &__menu {
        margin: 0 40px;
        display: flex;
        align-self: center;
    }

    &__menu-item {
        list-style: none;
        margin-right: 40px;

        & a {
            transition: 0.2s;
        }

        &.active a, &:hover a {
            color: $elemsActiveBg;
        }
    }

    &__bars-container {
        margin-left: auto;
        display: flex;

        & i {
            font-size: 20px;
            color: $iconColor;
            transition: 0.3s;

            &:hover {
                transform: scale(1.3);
                color: $elemsActiveBg;
            }
        }
    }

    &__search-bar, &__social-bar, &__login-bar {
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-right: 1px solid $iconColor;
    }

    &__search-bar {

        justify-content: flex-end;

        & input {
            margin-right: 20px;
            border: 1px solid $iconColor;
            height: ($navbarHeight / 2);
            border-radius: 15px;
            transition: 0.3s;
            width: 0px;
            opacity: 0;
            outline: none;
            padding: 0 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 15px;

            &.active {
                opacity: 1;
                width: 100%;
            }
        }

        & button {
            border: none;
            background: transparent;
            cursor: pointer;
            outline: none;
        }
    }

    &__social-bar {

        & i {
            margin-right: 20px;
        }

        & a:last-child i {
            margin-right: 0;
        }
    }

    &__login-bar {
        border: none;
    }
}

@media (max-width: 991px){
    .main-nav {
        margin: 60px auto 20px auto;
        max-width: 700px;

        &__menu {
            display: none;
        }
    }
}

@media (max-width: 450px){
    .main-nav {

        &__search-bar {
            display: none;
        }
    }
}

// CONTENT

.content {
    max-width: 1200px;
    height: 630px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    &.active {
        grid-template-columns: 0fr 1fr;
        grid-gap: 0px;
        height: 400px;
    }
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $elemsBgColor;
    overflow: hidden;

    &__main-menu {
        display: flex;
        flex-direction: column;
        
        &__elem {
            border-bottom: 1px solid $iconColor;
            padding: 20px;
            display: flex;
            align-items: center;
            transition: 0.2s;
            flex: 1;

            & i {
                margin-right: 20px;
                font-size: 20px;
                color: $iconColor;
                min-width: 25px;
            }

            &:hover, &.active {
                background-color: $elemsActiveBg;

                & i, & span {
                    color: $elemsBgColor;
                }
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        background-color: $iconColor;
        padding: 20px 20px 5px 20px;

        &__elem {
            display: flex;
            margin-bottom: 15px;

            & i {
                margin-right: 20px;
                font-size: 20px;
                color: $elemsBgColor;
                min-width: 25px;
            }

            & span {
                color: $elemsBgColor;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }

    &__submenu {
        background-color: #152840;
        display: grid;

        &__section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 0.3s;
            padding: 18px 0;
            border-top: 1px solid #152840;
            border-bottom: 1px solid #152840;

            &:hover {
                background-color: #263a54;
                border-top: 1px solid #445e78;
                border-bottom: 1px solid #445e78;
            }
        }

        &__heading-elem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 20px 10px 20px;

            & span, & i {
                color: $elemsActiveBg;
            }

            & i {
                font-size: 20px;
            }
        }

        &__elem {
            display: block;
            padding: 2px 20px;
            font-size: 15px;
            color: $elemsBgColor;
            font-weight: 300;
            transition: 0.2s;

            &:hover {
                color: $elemsActiveBg;
            }
        }
    }
}

.tiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;

    .content.active & {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    &__upper-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    &__downer-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }
}

.social-list {
    background-color: $elemsBgColor;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    &__elem {
        display: flex;
        padding: 10px;
        align-items: center;
        flex: 1;

        & i {
            color: $iconColor;
            font-size: 30px;
            margin-right: 20px;
            transition: 0.2s;
            width: 30px;
        }

        & span {
            transition: 0.2s;
        }

        &:hover i, &:hover span {
            color: $elemsActiveBg;
        }
    }
}

.facebook {
    background-color: #4d6baa;
}

.twitter {
    background-color: #4fc6f8;
}

.social-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;

    & > a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
    }

    &__main-icon {
        color: $elemsBgColor;
        font-size: 50px;
        padding-bottom: 25px;
    }

    & i, & span {
        color: $elemsBgColor;
    }

    &__stats {
        display: flex;
        justify-content: flex-end;
    }

    &__likes {
        margin-right: auto;
    }

    &__follow {
        display: flex;
        align-items: center;

        & span {
            font-weight: 300;
            margin-right: 10px;
        }

        & i {
            font-size: 20px;
        }
    }
}

.cta {
    background-color: $elemsBgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in {
    & i {
        font-size: 30px;
        margin: 10px 5px 0 5px;
        color: $iconColor;
        transition: 0.3s;

        &:hover {
            color: $elemsActiveBg;
        }
    }
}

.newsletter {
    background-color: $elemsBgColor;

    & p {
        font-weight: 500;
        font-size: 14px;
    }

    &__form {
        display: flex;
        margin-top: 15px;
        padding: 0 25px;
        width: 100%;

        & input {
            flex: 1;
            min-height: 35px;
            margin: 0 5px;
            font-weight: 300;
            font-size: 15px;
            padding: 0 15px;
        }

        & .submit {
            flex: 0 0 100px;
            font-weight: 400;
            text-transform: uppercase;
            background-color: #ea6060;
            border: none;
            border-radius: 5px;
            color: $elemsBgColor;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}