@mixin nav-toggle-icons {
    display: block;
    height: 3px;
    background-color: $textColor;
    transition: 0.5s;
}

@mixin bg-image($link, $position: center center, $size: cover) {
    background-image: url($link);
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin line-between-icons($side){
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $textColor;
    margin-#{$side}: 50px;
    #{$side}: 100%;
}