@import 'normalize', 'mixins';

$black: #000;
$white: #fff;
$darkGrey: #444;
$lightGrey: #d6d6d6;
$logoColor: #fd926d;
$infoBarHeight: 30px;
$togglerMenuHeight: 45px;
$transition: 0.3s;

// GENERAL

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

// HEADING

.info-bar {
    background-color: $black;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    height: $infoBarHeight;

    &__container {
        display: flex;
        align-items: center;
    }

    &__user {
        display: flex;
        margin-left: auto;
    }

    &__currency {
        padding: 0 20px;
        @include border($darkGrey, 1px, left);

        &__select {
            background-color: $black;
            border: none;
            color: $white;
            height: $infoBarHeight;
            cursor: pointer;
            outline: none;
        }
    }

    &__account {
        color: $white;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 20px;
        @include border($darkGrey, 1px, left);

        & p {
            margin-left: 8px;
        }
    }

    &__search {
        padding: 5px 20px;
        display: flex;
        @include border($darkGrey, 1px, left);
        @include border($darkGrey, 1px, right);

        &__bar {
            border: none;
            font-size: 11px;
            max-width: 0;
            margin-right: 0;
            padding-left: 0;
            transition: $transition;
            overflow: hidden;

            &.active {
                max-width: 150px;
                padding-left: 10px;
                margin-right: 10px;
                z-index: 2;
            }
        }

        &__btn {
            background-color: $black;
            color: $white;
            border: none;
            outline: none;
        }
    }
}

@media(max-width: 640px){
    .info-bar {
        height: auto;
        background-color: $white;

        &__container {
            flex-direction: column;
        }

        &__number {
            height: $infoBarHeight * 1.5;
            display: flex;
            align-items: center;
            color: $lightGrey;
            font-size: 15px;
        }

        &__user {
            background-color: $black;
            height: $infoBarHeight;
            margin: 0;
            width: 100%;
            justify-content: center;
            position: relative;
        }

        &__currency {
            border-left: none;
        }

        &__search {
            border-right: none;

            &__bar {
                position: absolute;
                display: block;
                max-width: 100%;
                min-width: 100%;
                height: 0;
                top: 100%;
                left: 0;
                right: 0;
                background-color: #fafafa;
                @include border(#d6d6d6, 0px);

                &.active {
                    height: $infoBarHeight;
                    @include border(#d6d6d6);
                }
            }
        }
    }
}

// NAV

.main-nav {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    position: relative;
    z-index: 2;

    &__navigation {
        display: flex;
        margin-left: auto;

        &--submenu {
            display: none;
            position: absolute;
            background-color: $logoColor;
            margin: 0;
            padding: 20px;
        }
    }

    &__navigation-toggler {
        display: none;
    }

    &__navigation--submenu &__nav-item--submenu {
        font-size: 14px;
        @include border($white, 1px, bottom);
        padding: 10px 0;

        &:last-child {
            border-bottom: none;
        }

        & a {
            color: $black;
        }
    }

    &__nav-item {

        &>a {
            color: $black;
            margin-right: 25px;
        }
    }
}

@media(min-width: 967px){
    .main-nav {
        &__nav-item:hover &__navigation--submenu {
            display: block;
        }
    }
}

.basket {
    min-width: 250px;
    display: flex;
    flex-direction: column;

    &__btn, &__info {
        display: flex;
        padding: 10px;
        font-size: 12px;
        @include border($lightGrey);
        justify-content: flex-end;
        color: $darkGrey;
    }

    &__btn {
        background-color: transparent;
        justify-content: space-between;
    }

    &__info {
        border-top: none;
        background-color: #fafafa;
        text-transform: uppercase;

        & i {
            margin-right: auto;
        }

        &__items {
            margin-right: 5px;
            padding-right: 5px;
            @include border($darkGrey, 1px, right);
        }
    }
}

@media(max-width: 966px){
    .main-nav {
        justify-content: space-between;
        position: relative;
        z-index: 1;
        margin-bottom: $togglerMenuHeight + 15px;

        &__navigation {
            z-index: -1;
            display: flex;
            flex-direction: column;
            left: 15px;
            right: 15px;
            position: absolute;
            top: 100%;
            padding-top: 0;
            background-color: lighten($logoColor, 15%);
            max-height: 0;
            transition: $transition;
            overflow: hidden;

            &--submenu {
                display: flex;
                background-color: transparent;
                position: static;
            }
        }

        &__navigation.active {
            max-height: 9999px;
            padding-top: $togglerMenuHeight + 15px;
        }

        &__nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            font-weight: 700;

            & a {
                margin: 0;
                display: flex;
                justify-content: center;
            }

            & i {
                display: none;
            }
        }

        &__navigation--submenu {
            margin: 0 15px;
            flex-direction: column;
            @include border($white, 1px, bottom);
        }

        &__nav-item--submenu {
            border: none !important;
            font-weight: 500;
        }

        &__navigation-toggler {
            position: absolute;
            top: 100%;
            left: 15px;
            right: 15px;
            display: flex;

            & button {
                width: 100%;
                height: $togglerMenuHeight;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                background-color: $logoColor;
                border: none;
                color: $white;
                text-transform: uppercase;

                & i {
                    font-size: 25px;
                }
            }
        }
    }
}

// SLIDER

.main-slider {
    margin-bottom: 40px;

    &__slide {
        position: relative;

        &__img {
            object-fit: cover;
            width: 100%;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100px;
        width: 30px;
        background-color: #fefefd;
        border: none;
        color: $lightGrey;
        font-size: 20px;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__bullets {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;

        &__bullet {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $lightGrey;
            border: none;
            margin: 0 3px;
            outline: none;

            &.glide__bullet--active {
                background-color: $logoColor;
            }
        }
    }
}